
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="text-center">
      <h1>{{ title }}</h1>
    </div>

    
      <div class="col-sm-6 col-12">
        <table>
        <form method="POST"> {% csrf_token %}
          
            {{ form.as_table }}
        
          
          
            <tr><th></th><td><button type="submit" class="btn btn-default">Submit</button></td></tr>
          
        </form>
      </table>

      <!-- {% include "accounts/form.html"  with form=form %} -->
      </div>
    </div>

{% endblock %}